{% extends 'base.html' %}

{% block pagetitle %} GoCodeGo - {{ problem.title }} {% endblock %}

{% block problemsactive %} class="active" {% endblock %}

{% block primary %}
<div class="col-md-6 column">
		<h1>{{ problem.title }}</h1><h5>Category: {{ problem.category }}</h5>
		<div class="jumbotron">
			{{ problem.description|linebreaksbr }}
		</div>
	</div>
	<div class="col-md-6 column">
		<h1>Start coding here!</h1>
		<div id="editor">{{ problem.template }}</div>
		<div align="right">
			<form role="form" method="post">
		        {% if user.is_authenticated %}
			        {% if solved %}
			        	<a class="btn btn-success" href"#" role="button">Solved!</a>
			        {% else %}
			        	<button type="submit" class="btn btn-primary">Submit!</button>
			        {% endif %}
			    {% else %}
			    	<a class="btn btn-primary" href="{% url 'socialauth_begin' 'google-oauth2' %}">Login with Google</a>
		        {% endif %}
		    </form>
		</div>
	</div>
</div>

{% load staticfiles %}
<script src="{% static "js/ace/ace.js" %}" type="text/javascript"></script>
<script>
	var editor = ace.edit("editor");
    editor.setTheme("ace/theme/clouds");
    editor.getSession().setMode("ace/mode/golang");
</script>
{% endblock %}