{% extends 'base.html' %}

{% block pagetitle %} GoCodeGo - {{ problem.title }} {% endblock %}

{% block problemsactive %} class="active" {% endblock %}

{% block head %} 
<script type="text/javascript">
$(document).ready(function() {
   $("#subm").click(function(event){
   		event.preventDefault();
        $.ajax({
             type:"POST",
             url:"/problems/check_solution/",
             data: {
             		'problem': {{ problem.id }},
                    'code': ace.edit("editor").getSession().getValue(),
                    },
             success: function(message){
             	if(message == "") {
             		$('#mess').hide().html("<pre>Correct!</pre>").fadeIn();
             		$('#save').hide();
                    $('#subm').hide();
             		$('#ret').fadeIn();
             		$('#twit').fadeIn();
             	}
                else {
                	$('#mess').hide().html("<pre>" + message + "</pre>").fadeIn();
                }
            },
            "beforeSend": function(xhr, settings) {
		        $.ajaxSettings.beforeSend(xhr, settings);
		    },
        });
   });
   $("#save").click(function(event){
        event.preventDefault();
        $.ajax({
             type:"POST",
             url:"/problems/save_solution/",
             data: {
                    'problem': {{ problem.id }},
                    'code': ace.edit("editor").getSession().getValue(),
                    },
             success: function(message){
                $('#mess').hide().html("<pre>" + message + "</pre>").fadeIn();
            },
            "beforeSend": function(xhr, settings) {
                $.ajaxSettings.beforeSend(xhr, settings);
            },
        });
   });
});

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    }
});
</script>
{% endblock %}

{% block primary %}
<section class="success">
    <div class="container row-color">
		<div class="col-md-6 column">
				<h1>{{ problem.title }}</h1><h5>Difficulty: {{ problem.category }}</h5>
				<div class="jumbotron">
					{{ problem.description|linebreaksbr }}
				</div>
				<h1>Messages</h1>
				<div class="jumbotron" id="mess">
				</div>
			</div>
			<div class="col-md-6 column">
				<h1>Start coding here!</h1>
				{% if solved or load %}
					<div id="editor">{{ solution }}</div>
				{% else %}
					<div id="editor">{{ problem.template }}</div>
				{% endif %}
				<div><br /></div>
				<div align="right">
			        {% if user.is_authenticated %}
				        {% if solved %}
				        	<a class="btn btn-success" href="#" role="button">Solved!</a>
				        {% else %}
                            <a class="btn btn-success" href="#" id="save">Save</a>
				        	<a class="btn btn-success" href="#" id="subm">Submit!</a>
				        	<a class="btn btn-success" href="/problems/" id="ret" style="display:none;">Return to problems</a>
				        {% endif %}
				    {% else %}
				    	<a class="btn btn-success" href="{% url 'socialauth_begin' 'google-oauth2' %}">Sign in with Google</a>
			        {% endif %}
                    <br />
                    <br />
				</div>
			</div>
		</div>
	</div>
</section>


{% load staticfiles %}
<script src="{% static "js/ace/ace.js" %}" type="text/javascript"></script>
<script>
	var editor = ace.edit("editor");
    editor.setTheme("ace/theme/clouds");
    editor.getSession().setMode("ace/mode/golang");
</script>

{% endblock %}