{% extends 'base.html' %}

{% block pagetitle %} GoCodeGo - Users {% endblock %}

{% block usersactive %} class="active" {% endblock %}

{% block css %}
.container {
    color: black;
}

.footer-below > .container {
    color: white;
}
{% endblock %}

{% block primary %}
<section class="success">
    <div class="container">
        <div class="col-md-12 column">
            <div class="panel panel-prob">

            <div class="panel-heading">
            <br />
            <h3 class="panel-title text-primary"><span class="pull-left">
            <i class="fa fa-dot-circle-o"></i> Users</span></h3>
            </div>
            
<div class="panel-body" style="display: block;">
  <ul class="list-group">
{% for u in users %}
  <li class="list-group-item">
    <a href="/users/{{ u.0 }}">{{ u.0 }}</a>
    <span class="pull-right">
      <span class="label label-success">{{ u.1 }} points</span>
    </span>
  </li>
{% endfor %}
</ul>
</div>
</div>
        </div>
    </div>
</section>
{% endblock %}