{% extends 'base.html' %}

{% load gravatar %}

{% load humanize %}

{% block pagetitle %} GoCodeGo - {{ u.username }} {% endblock %}

{% block usersactive %} class="active" {% endblock %}

{% block primary %}
<section class="profile">
<div class="container">
   <div class="row row-color">
    <br>
    <div class="col-sm-3">
        <!--left col-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{ u.username }}</h4>
                {% if user.is_authenticated and user.username == u.username %}
                    <a href="/profile_edit/">Edit profile</a>
                {% endif %}
            </div>
            <div class="panel-body">
            <img title="profile image" class="img img-responsive" src="{% gravatar_url u.email 500 %}">
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item text-muted" contenteditable="false">Profile</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Joined</strong></span>
            {{ u.date_joined | naturaltime }}
            </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last seen</strong></span>
            {{ u.last_login | naturaltime }}
            </li>
            {% if u.first_name %}
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">First name</strong></span>
                {{ u.first_name }}
                </li>
            {% endif %}
            {% if u.last_name %}
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last name</strong></span>
                {{ u.last_name }}
                </li>
            {% endif %}
            </ul>
            {% if u.website %}
            <div class="panel panel-default">
                <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i>
                </div>
                <div class="panel-body">
                <a href="http://{{ u.website }}" class="">{{ u.website }}</a>
                </div>
            </div>
            {% endif %}

        <ul class="list-group">
            <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i>

            </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Points</strong></span>
            {{ points | intcomma }}
            </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Problems solved</strong></span>
            {{ problems | intcomma }}
            </li>
        </ul>
        <div class="panel panel-default">
            <div class="panel-heading">Social</div>
            <div class="panel-body">
            {% if u.twitter %}
            <a href="http://twitter.com/{{u.twitter}}" target=blank><i class="fa fa-twitter fa-2x"></i></a>
            {% endif %}
            {% if u.facebook %}
            <a href="http://facebook.com/{{u.facebook}}" target=blank><i class="fa fa-facebook fa-2x"></i></a>
            {% endif %}
            {% if u.linkedin %}
            <a href="http://linkedin.com/in/{{u.linkedin}}" target=blank>
            <i class="fa fa-linkedin fa-2x"></i></a>
            {% endif %}
            {% if u.github %}
            <a href="http://github.com/{{u.github}}" target=blank><i class="fa fa-github fa-2x"></i></a>
            {% endif %}
            </div>
        </div>
    </div>
    <!--/col-3-->
    <div class="col-sm-9" contenteditable="false" style="">
        <div class="panel panel-default">
            <div class="panel-heading">{{ u.username }}'s bio</div>
            <div class="panel-body">
            {% if u.bio %}
                <pre>{{ u.bio }}</pre>
            {% endif %}
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}