{% extends 'base.html' %}

{% block pagetitle %} GoCodeGo {% endblock %}

{% load staticfiles %}

{% block homeactive %} class="active" {% endblock %}

{% block primary %}
<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="{% static "img/gorun.gif" %}" alt="">
                <div class="intro-text">
                    <span class="name">GoCodeGo (Beta)</span>
                    <hr class="star-light">
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Learn Section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Learn!</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <p>
            Quite usually, learning a new programming language becomes a tedious task, a senseless chore. We aimlessly hack and tinkering becomes a repetitive process of not-getting-a-damn-thing: we advance cluelessly until we start getting it out of repetition. We'd all love it, however, if our tinkering was directed from simple Hello world styled tidbits to the complex depths of a given language in an enjoyable manner!
            </p>
        </div>
    </div>
</section>

<!-- Crash to learn Section -->
<section class="success">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Crash to learn!</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p>Bash your head against problems increasingly! Have fun with the ever-developing difficulty!</p>
            </div>
            <div class="col-lg-4">
                <p>Compete with yourself to get better, grow more proficient and become what you want to be! </p>
            </div>
            <div class="col-lg-4">
                <p>Solving interesting problems one at a time can make any steep learning curve a walk through the park!</p>
            </div>
        </div>
    </div>
</section>

<!-- Go Section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Go!</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <p>Google's Go language sounds like something neat to learn, but how hard could it be? It looks rather slick; even if that's the case, however, boredom strikes with such an ease it'd be great to make the code-spanking process entertaining... Why can't there be some platform that presents series of problems by how hard they are so I learn in a not-so-perhaps-tiring way...?</p>
            <center>
            <h3>OH!</h3>
            <h2>Go Code Go!</h2>
            </center>
        </div>
    </div>
</section>
{% endblock %}